// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.alert-success {
    background-color: aquamarine;
    padding: 10px;
    display: flex;
}

.alert-delete {
    background-color: skyblue;
    padding: 10px;
    display: flex;
}

.alert-error {
    background-color: red;
    padding: 10px;
    display: flex;
}